<% provide(:title, 'About') %>
<% provide(:full_title, 'О проекте') %>
<h1>О проекте</h1>
<p>
  Проект предназначен для редактирования базы данных материалов, разработанной для нужд Политехнического института Сибирского федерального университета
</p><p>  Изначально база данных создавалась для мобильного приложения: <a href="https://play.google.com/store/apps/details?id=com.catalog.gostcatalog">Google Play</a></p>
<p>  Репозиторий проекта (открыт): <a href="https://bitbucket.org/dennismorosoff/labrab4/commits/all">BitBucket</a></p>
<p>  Репозиторий предпроектных работ (открыт): <a href="https://bitbucket.org/dennismorosoff/labrab3/commits/all">BitBucket</a>
</p>