<h1>Выберите материал</h1>

<p>
  <%= form_tag findmaterial_path, method: "GET" do %>
    <%= select_tag "inputid", options_from_collection_for_select(@materials, "id", "name",@material.id) %>
    <%= submit_tag "Показать" %>
  <% end %>
</p>

<p><strong>
  Материал:  <%= @material.name %>
</strong></p>

<p>
<% @matpropvalues.each do |matpropvalue| %>

  Параметр <%= Matprop.find(matpropvalue.property_id).name %> равен
    <%=  matpropvalue.num_value %> <%= Propunit.find(Matprop.find(matpropvalue.property_id).unit_id).name %></br>
<% end %>
</p>