<% if @matpropvalue.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@matpropvalue.errors.count, "error") %> prohibited
      this value from being saved:
    </h2>
    <ul>
      <% @matpropvalue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>