<h1>Правка значения</h1>

<%= form_with(model: @matpropvalue, local: true) do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label "Материал" %><br>
    <%= form.collection_select :material_id,  @materials, :id, :name, prompt: true, selected: @matpropvalue.material_id %>
  </p>

  <p>
    <%= form.label "Свойство" %><br>
    <%= form.collection_select :property_id,  @matprops, :id, :name, prompt: true, selected: @matpropvalue.property_id %>
  </p>

  <p>
    <%= form.label "Значение" %><br>
    <%= form.number_field :num_value, :step => 0.01 %>
  </p>

  <p>
    <%= form.submit "Обновить значение" %>
  </p>

<% end %>

<%= link_to 'Назад', matpropvalues_path %>