<h1>Список всех значений свойств</h1>

<table class="greyGridTable">
  <thead>
  <tr>
    <th><%= sortable "id", "№" %></th>
    <th>Материал</th>
    <th>Свойство</th>
    <th>Значение</th>
    <th>Ед измерения</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th colspan="8"></th>
  </tr>
  </tfoot>

  <% @matpropvalues.each do |matpropvalue| %>
    <tr>
      <td><%= matpropvalue.id %></td>
      <td><%= Material.find(matpropvalue.material_id).name %></td>
      <td><%= Matprop.find(matpropvalue.property_id).name %></td>
      <td><%= matpropvalue.num_value %></td>
      <td><%= Propunit.find(Matprop.find(matpropvalue.property_id).unit_id).name %></td>
      <td><%= link_to 'Просмотр', matpropvalue_path(matpropvalue) %></td>
      <td><%= link_to 'Правка', edit_matpropvalue_path(matpropvalue) %></td>
      <td><%= link_to 'Удаление', matpropvalue_path(matpropvalue),
                      method: :delete,
                      data: { confirm: 'Вы уверены в удалении этого значения?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Новый', new_matpropvalue_path %></td>