<h1>Новое значение</h1>

<%= form_with scope: :matpropvalue, url: matpropvalues_path, local: true do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label "Материал" %><br>
    <%= form.collection_select :material_id,  @materials, :id, :name, prompt: true %>
  </p>

  <p>
    <%= form.label "Свойство" %><br>
    <%= form.collection_select :property_id,  @matprops, :id, :name, prompt: true %>
  </p>

  <p>
    <%= form.label "Значение" %><br>
    <%= form.number_field :num_value, :step => 0.01 %>
  </p>

  <p>
    <%= form.submit "Создать значение" %>
  </p>

<% end %>

<%= link_to 'Назад', matpropvalues_path %>