<h1>Просмотр значения</h1>

<p><strong>Значение:</strong></p>
<p>У материала <%= @material.name %> параметр <%=  @matprop.name %> равен
  <%=  @matpropvalue.num_value %> <%=  @propunit.name %>

  <%= link_to 'Правка', edit_matpropvalue_path(@matpropvalue) %>
  <%= link_to 'Удаление', matpropvalue_path(@matpropvalue),
            method: :delete,
            data: { confirm: 'Вы уверены в удалении этого значения?' } %></p>
<%= link_to 'Назад', matpropvalues_path %>