<% if @propunit.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@propunit.errors.count, "error") %> prohibited
      this unit from being saved:
    </h2>
    <ul>
      <% @propunit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>