<h1>Правка единицы измерения</h1>

<%= form_with(model: @propunit, local: true) do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label "Название:" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit "Обновить единицу измерения" %>
  </p>

<% end %>

<%= link_to 'Назад', propunits_path %>