<h1>Список всех единиц измерения</h1>

<table class="greyGridTable">
  <thead>
  <tr>
    <th><%= sortable "id", "№" %></th>
    <th><%= sortable "name", "Название" %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th colspan="5"></th>
  </tr>
  </tfoot>
  <% @propunit.each do |propunit| %>
    <tr>
      <td><%= propunit.id %></td>
      <td><%= propunit.name %></td>
      <td><%= link_to 'Просмотр', propunit_path(propunit) %></td>
      <td><%= link_to 'Правка', edit_propunit_path(propunit) %></td>
      <td><%= link_to 'Удаление', propunit_path(propunit),
                      method: :delete,
                      data: { confirm: 'Вы уверены в удалении этой единицы измерения?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Новый', new_propunit_path(@propunit) %></td>