<h1>Новая единица измерения</h1>

<%= form_with scope: :propunit, url: propunits_path, local: true do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label "Название:" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit "Создать единицу измерения" %>
  </p>

<% end %>

<%= link_to 'Назад', propunits_path %>