<h1>Просмотр единицы измерения</h1>

<p>
  <strong>Ед. измерения:</strong>
  <%= @propunit.name %> <%= link_to 'Правка', edit_propunit_path(@propunit) %>
  <%= link_to 'Удаление', propunit_path(@propunit),
              method: :delete,
              data: { confirm: 'Вы уверены в удалении этой единицы измерения?' } %>
</p>

<%= link_to 'Назад', propunits_path %>