<% if @matprop.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@matprop.errors.count, "error") %> prohibited
      this property from being saved:
    </h2>
    <ul>
      <% @matprop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>