<h1>Правка свойства</h1>

<%= form_with(model: @matprop, local: true) do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label 'Название свойства' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label "Единицы измерения" %><br>
    <%= form.collection_select :unit_id,  @propunits, :id, :name, prompt: true, selected: @matprop.unit_id %>
  </p>

  <p>
    <%= form.submit "Обновить свойство" %>
  </p>

<% end %>

<%= link_to 'Назад', matprops_path %>