<h1>Список всех свойств</h1>

<table class="greyGridTable">
  <thead>
  <tr>
    <th><%= sortable "id", "№" %></th>
    <th><%= sortable "name", "Название" %></th>
    <th>Ед. изм.</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th colspan="5"></th>
  </tr>
  </tfoot>

  <% @matprops.each do |matprop| %>
    <tr>
      <td><%= matprop.id %></td>
      <td><%= matprop.name %></td>
      <td><%= Propunit.find(matprop.unit_id).name %></td>

      <td><%= link_to 'Просмотр', matprop_path(matprop) %></td>
      <td><%= link_to 'Правка', edit_matprop_path(matprop) %></td>
      <td><%= link_to 'Удаление', matprop_path(matprop),
                      method: :delete,
                      data: { confirm: 'Вы уверены в удалении этого свойства?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Новый', new_matprop_path %></td>