<h1>Новое свойство</h1>

<%= form_with scope: :matprop, url: matprops_path, local: true do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label "Единицы измерения" %><br>
    <%= form.collection_select :unit_id,  @propunits, :id, :name, prompt: true %>
  </p>

  <p>
    <%= form.submit "Создать свойство" %>
  </p>

<% end %>

<%= link_to 'Назад', matprops_path %>