<h1>Просмотр свойства</h1>

<p><strong>Свойство:</strong></p>
<p><%= @matprop.name %> (<%= @propunit.name %>) <%= link_to 'Правка', edit_matprop_path(@matprop) %>
  <%= link_to 'Удаление', matprop_path(@matprop),
     method: :delete,
     data: { confirm: 'Вы уверены в удалении этого свойства?' } %></p>

<%= link_to 'Назад', matprops_path %>