<% if @gost.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@gost.errors.count, "error") %> prohibited
      this Gost from being saved:
    </h2>
    <ul>
      <% @gost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>