<h1>Список всех ГОСТов</h1>

<table class="greyGridTable">
  <thead>
  <tr>
    <th><%= sortable "id", "№" %></th>
    <th><%= sortable "name", "Номер" %></th>
    <th><%= sortable "caption", "Наименование" %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th colspan="5"></th>
  </tr>
  </tfoot>
  <% @gosts.each do |gost| %>
    <tr>
      <td><%= gost.id %></td>
      <td><%= gost.name %></td>
      <td><%= gost.caption %></td>
      <td><%= link_to 'Просмотр', gost_path(gost) %></td>
      <td><%= link_to 'Правка', edit_gost_path(gost) %></td>
      <td><%= link_to 'Удаление', gost_path(gost),
                      method: :delete,
                      data: { confirm: 'Вы уверены в удалении этого ГОСТ?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Новый', new_gost_path(@gost) %></td>