<h1>Новый ГОСТ</h1>

<%= form_with scope: :gost, url: gosts_path, local: true do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label 'Наименование' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label 'Заголовок' %><br>
    <%= form.text_area :caption, :cols => 50, :rows => 5 %>
  </p>

  <p>
    <%= form.submit "Создать ГОСТ" %>
  </p>

<% end %>

<%= link_to 'Назад', gosts_path %>