<h1>Просмотр ГОСТа</h1>

<p>
  <strong>Название: </strong>
  <%= @gost.name %> - <em><%= @gost.caption%></em> <%= link_to 'Правка', edit_gost_path(@gost) %>
  <%= link_to 'Удаление', gost_path(@gost),
    method: :delete,
    data: { confirm: 'Вы уверены в удалении этого ГОСТ?' } %>
</p>

<%= link_to 'Назад', gosts_path %>