@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  text-align: center;
  border-collapse: collapse;
  td, th {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
  }
  tbody td {
    font-size: 13px;
  }
  tr:nth-child(even) {
    background: #D0E4F5;
  }
  thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  thead th:first-child {
    border-left: none;
  }
  thead th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 10px 10px;
  }
  thead th .asc {
    background-image: url(/up_arrow.png);
  }
  thead th .desc {
    background-image: url(/down_arrow.png);
  }
  tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  tfoot td {
    font-size: 14px;
  }
}