<% if @material.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@material.errors.count, "error") %> prohibited
      this material from being saved:
    </h2>
    <ul>
      <% @material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>