<h1>Правка материала</h1>

<%= form_with(model: @material, local: true) do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label 'Наименование' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label 'Описание' %><br>
    <%= form.text_field :desc %>
  </p>

  <p>
    <%= form.label "ГОСТ" %><br>
    <%=
        unless @material.gost_id.nil?
          form.collection_select :gost_id,  @gosts, :id, :name, prompt: true, selected: @material.gost_id
        else
          form.collection_select :gost_id,  @gosts, :id, :name, prompt: true
        end %>
  </p>

  <p>
    <%= form.submit "Обновить материал" %>
  </p>

<% end %>

<%= link_to 'Назад', materials_path %>