<h1>Список всех материалов</h1>

<table class="greyGridTable">
  <thead>
  <tr>
    <th><%= sortable "id", "№" %></th>
    <th><%= sortable "name", "Название" %></th>
    <th><%= sortable "desc", "Описание" %></th>
    <th>ГОСТ</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th colspan="7"></th>
  </tr>
  </tfoot>
  <% @materials.each do |material| %>
    <tr>
      <td><%= material.id %></td>
      <td><%= material.name %></td>
      <td><%= material.desc %></td>
      <td><%=
        unless material.gost_id.nil?
          Gost.find(material.gost_id).name
        end %></td>
      <td><%= link_to 'Просмотр', material_path(material) %></td>
      <td><%= link_to 'Правка', edit_material_path(material) %></td>
      <td><%= link_to 'Удаление', material_path(material),
                      method: :delete,
                      data: { confirm: 'Вы уверены в удалении этого материала?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Новый', new_material_path(@material) %></td>