<h1>Новый материал</h1>

<%= form_with scope: :material, url: materials_path, local: true do |form| %>

  <%= render 'errorcheck' %>

  <p>
    <%= form.label 'Наименование' %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label 'Описание' %><br>
    <%= form.text_field :desc %>
  </p>

  <p>
    <%= form.label "ГОСТ" %><br>
    <%= form.collection_select :gost_id,  @gosts, :id, :name, prompt: true %>
  </p>

  <p>
    <%= form.submit "Создать материал" %>
  </p>

<% end %>

<%= link_to 'Назад', materials_path %>