<h1>Просмотр материала</h1>

<p>
  <strong>Название: </strong>
  <%= @material.name %> - <em><%= @material.desc%></em>
  <%=
        unless @material.gost_id.nil?
          " ("+Gost.find(@material.gost_id).name+")"
        end %>
  <%= link_to 'Правка', edit_material_path(@material) %>
  <%= link_to 'Удаление', material_path(@material),
              method: :delete,
              data: { confirm: 'Вы уверены в удалении этого материала?' } %>

</p>

<%= link_to 'Назад', materials_path %>