<footer class="footer">
  <small>Разработан
    <a href="http://dennismorosoff.com/">Денисом Морозовым</a> (с) 2018
  </small>
  <nav>
    <ul>
      <li><%= link_to "О проекте",   about_path %></li>
      <li><%= link_to "Связаться", contact_path %></li>
    </ul>
  </nav>
</footer>