<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Rosstat App", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Главная",    root_path %></li>
          <li><%= link_to 'Значения', matpropvalues_path %></li>
          <li><%= link_to 'Материалы', materials_path %></li>
          <li><%= link_to 'ГОСТы', gosts_path %></li>
          <li><%= link_to 'Свойства', matprops_path %></li>
          <li><%= link_to 'Ед измерения', propunits_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>